## Introduction

SQL is the native language for interacting with Data bases

SQL, which stands for Structured Query Language, is a language for interacting with data stored in something called a relational database.

You can think of a relational database as a collection of tables. A table is just a set of rows and columns, like a spreadsheet, which represents exactly one type of entity. For example, a table might represent employees in a company or purchases made, but not both.

Each row, or record, of a table contains information about a single entity. Example, in a table representing employees, each row represents a single person. Each column, or field of a table contains a single attribute for all rows in the table.

### Querying Database

A query is a request for data from a database table (or combination of tables). 

Querying is an essential skill for a data scientist, since the data you need for your analyses will often live in databases.

In [ ]:
In SQL, you can select data from a table using a SELECT statement.

There are different types of relational databases: sequel, postgres sequel, sequel lite 3