In [1]:
(2 + 3j) / (1 - 5j)

(-0.5+0.5j)

In [3]:
x = 5
y = 2

In [5]:
x + x - y ** 2

6

In [6]:
x,y = 3,4

In [8]:
x//y

0

Docstrings, short for document strings, state what a given document, such as a program, a function, or a class, actually does. The primary difference in syntax between a docstring and a comment is that docstrings are intended to be written over multiple lines, which can be accomplished with triple quotes. They also introduce a given document, so they are placed at the top.

In [ ]:
"""
This document will explore why comments are particularly useful when writing and reading code.
"""

In [9]:
"""Determine the Pythagorean distance between x, y, and z."""

x = 2
y = 3
z = 4

w_square = (x**2) + (y**2) + (z**2)

In [10]:
w_square

29

In [12]:
w = w_square**0.5

w

5.385164807134504

In [14]:
spanish_greeting = 'Hola '

print(spanish_greeting + 'Senor.')

Hola Senor.

In [16]:
greeting = 'Hello '
print(greeting * 5)

Hello Hello Hello Hello Hello

#### String Interpolation

When writing strings, you may want to include variables in the output. String interpolation includes the variable names as placeholders within the string. There are two standard methods for achieving string interpolation: comma separators and format.

##### Comma Separators

In [17]:
italian_greeting = 'Ciao'
print('Should we greet people with', italian_greeting, 'in North Beach?')

Should we greet people with Ciao in North Beach?

###### Format

In [18]:
owner = 'Lawrence Ferlinghetti'
age = 100
print('The founder of City Lights Bookstore, {}, is now {} years old.'.format(owner, age))

The founder of City Lights Bookstore, Lawrence Ferlinghetti, is now 100 years old.

#### The len() Function

There are many built-in functions that are particularly useful for strings. One such function is len(), which is short for length. The len() function determines the number of characters in a given string.

In [22]:
len('Chidinma')

8

In [27]:
name = 'corey'

In [28]:
name.capitalize()

'Corey'

In [29]:
name.lower()

'corey'

In [30]:
name.upper()

'COREY'

#### The Input () Function

In [34]:
# Choose a question to ask
print('What is your name?')

name = input()

print('Hello, ' + name + '.')

What is your name?
chidinma
Hello, chidinma.

##### Activity: Using the input() function to rate your day

In [36]:
print ('Hello, on a scale of 1 - 10, please rate your day')

variable = input ()

print ('you had a ' + variable + 'iy day')

Hello, on a scale of 1 - 10, please rate your day
9
you had a 9iy day

#### String Indexing and Slicing

Indexing and slicing are crucial parts of programming. In data analysis, indexing and slicing DataFrames is essential to keep track of rows and columns, something we will practice in Chapter 10, Data Analytics with pandas and NumPy. The mechanics behind indexing and slicing DataFrames is the same as indexing and slicing strings, which we will learn in this chapter

###### Indexing

In [38]:
destination = 'San Francisco'

destination[0]

destination[2]

'n'

###### Slicing

In [39]:
destination[4:11]

'Francis'

In [40]:
destination[-3:]

'sco'

### Booleans and Conditionals
Booleans, named after George Boole, take the values of True or False. Although the idea behind Booleans is rather simple, they make programming immensely more powerful.

When writing programs, for instance, it's useful to consider multiple cases. If we prompt the user for information, we may want to respond differently depending upon the user's answer.

For instance, if the user gives a rating of 0 or 1, we may give a different response than a rating of 9 or 10. The keyword here is if.

Programming based upon multiple cases is referred to as branching. Each branch is represented by a different conditional. Conditionals often start with an 'if' clause, followed by 'else' clauses. The choice of a branch is determined by Booleans, depending on whether the given conditions are True or False.

In [42]:
over_18, over_21 = True, False

In [43]:
over_18 and over_21

False

In [44]:
over_18 or over_21

True

In [45]:
not over_21 or (over_21 or over_18)

True

In [46]:
age = 20
age < 13

False

In [47]:
age >= 20 and age <= 21

True

#### Comparing Strings

In [48]:
'a' < 'c'

True

In [49]:
'New York' > 'San Francisco'

False

### Conditionals

Conditionals are used when we want to express code based upon a set of circumstances or values. Conditionals evaluate Boolean values or Boolean expressions, and they are usually preceded by 'if'.

In [50]:
if age < 18:
    print('You aren\'t old enough to vote.')

Indented lines will only run if the condition evaluates to True. If the condition evaluates to False, the indented lines will be skipped over entirely.

In [55]:
if age >= 18:
    print('You can vote.')
    if age >= 21:
        print('You can play poker.')

You can vote.
You can play poker.

In [56]:
age = 20
if age < 18:
    print('You aren\'t old enough to vote.')
else:
    print('Welcome to our voting program.')

Welcome to our voting program.

In [57]:
if age >= 18:
    print('Welcome to our voting program.')
else:
    print('You aren\'t old enough to vote.')

Welcome to our voting program.

###### The Elif Statement

elif is short for else if. elif does not have meaning in isolation. elif appears in between an if and else clause.

In [58]:
if age <= 10:
    print('Listen, learn, and have fun.')
elif age <= 19:
    print('Go fearlessly forward.')
elif age <= 29:
    print('Seize the day.')
elif age <= 39:
    print('Go for what you want.')
elif age <= 59:
    print('Stay physically ft and healthy.')
else:
    print('Each day is magical.')

Seize the day.

#### Loops

There are three key components to most loops:

- The start of the loop
- The end of the loop
- The increment between numbers in the loop

##### The while Loops

In a while loop, a designated segment of code repeats provided that a particular condition is true. When the condition evaluates to false, the while loop stops running.

In [63]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

##### Break

break is a special keyword in Python that is specifically designed for loops. If placed inside of a loop, commonly in a conditional, break will immediately terminate the loop. It doesn't matter what comes before or after the loop. The break is placed on its own line, and it breaks out of the loop.

In [61]:
x = 100
while x <= 1000:
    x += 1
    if x % 17 == 0:
        print(x, 'is the first number greater than 100 that is divisible by 17.')
        break

102 is the first number greater than 100 that is divisible by 17.

In [66]:
# Find the Least Common Multiple of Two Divisors

x = 24
y = 36

counting = True 
i = 1
while counting:
    if i % x == 0 and i % y == 0:
        break
    i += 1
        
print ('The LCM of', x, 'and', y, 'is', i)

The LCM of 24 and 36 is 72

#### Calculating Perfect Squares

The goal of this exercise is to prompt the user to enter a given number and find out whether it is a perfect square.

In [76]:
print ('Enter a number to see if it is a perfect square') #prompt the user to enter in a number

number = input() #set variable as equal to input

number = abs(int(number)) #this ensures that the user input is a positive number

i = -1    #choosing an iterator variable                                     (i don't understand this line)

square = False    #initializing a boolean to check for a perfect square

while i <= number**0.5:     #initializing a while loop from -1 to the square root of the number

    i += 1               #increment i by 1

    if i*i == number:       #check the square root of the number
    
        square = True      #indicate that we have a perfect square
    
        break              #break out of the loop

if square:
    print('the square root of ', number, 'is', i)      #if the number is square print out the results

else:
    print(number, 'is not a perfect square')            #if the number is not square print out this result

Enter a number to see if it is a perfect square
90
90 is not a perfect square

In [72]:
print ('Enter a number to see if it\'s a perfect square')

number = int(input())

if (number**(0.5))==int(number**(0.5)):

    print (number, ' is a perfect square')

    print ('The square root of ', number, ' is ', number**(0.5) )

else:

    print (number, ' is not perfect square')

Enter a number to see if it's a perfect square
7
7  is not perfect square

#### Real Estate Oﬀer

The goal of this exercise is to prompt the user to bid on a house and let them know if and when the bid has been accepted.

In [82]:
print ('A one bedroom flat in Lekki is listed as $500,000') #state the market price

print ('Enter you first offer of the house') #prompt the user to enter their first offer

offer = abs(int(input()))   

print('Please enter your best offer for the house')  #prompt the user to enter the best offer for the house

best = abs(int(input()))

print ('How much more do you want to offer each time?') #prompt the user to add increments to their offer

increment = abs(int(input()))   #is this line necessary?

offer_accepted = False     #(why this line????)

while offer <= best:      #initialize the loop from 'offer' to 'best'
    if offer >= 650000:   #if offer is greater than 650000, they get the house
        offer_accepted = True
        print('Your offer of ', offer, 'has been accepted')
        break
    
    print('We are sorry, your offer of', offer, 'has not been accepted')  #if the offer does not exceed 650000, they don't get the house
    
    offer += increment  #add increment to offer

A one bedroom flat in Lekki is listed as $500,000
Enter you first offer of the house
500000
Please enter your best offer for the house
550000
How much more do you want to offer each time?
140000
We are sorry, your offer of 500000 has not been accepted

#### Using for Loops

In [84]:
for i in 'Nigeria':
    print (i)

N
i
g
e
r
i
a

The for keyword often goes with the in keyword. The i variable is generic. The phrase, for i in, means that Python is going to check what comes next and look at its individual components. Strings are composed of characters, so Python will do something with each of the individual characters. In this particular case, Python will print out the individual characters, as per the print(i) command.

What if we want to do something with a range of numbers? Can for loops be used for that? Absolutely. Python provides another keyword, range, to access a range of numbers. range is often defined by two numbers, the first number, and the last number, and it includes all numbers in between. Interestingly, the output of range includes the first number, but not the last number. We'll see why in a minute.

In [85]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [86]:
for i in range (1,11,2):
    print (i)

1
3
5
7
9

In [87]:
for i in range (3,0,-1):
    print (i)

3
2
1

In [88]:
#Nested Loops

name = 'Chi'
for i in range (3):
    for i in name:
        print (i)

C
h
i
C
h
i
C
h
i

#### The continue Keyword

continue is another Python keyword designed for loops. When Python reaches the continue keyword, it stops the code and goes back to the beginning of the loop. continue is similar to break because they both interrupt the loop process, but whereas break terminates the loop, continue continues the loop from the beginning.

In [90]:
for num in range (10, 100):
    if num % 2 == 0:
        continue
    if num % 3 == 0:
        continue
    if num % 5 == 0:
        continue
    if num % 7 == 0:
        continue
    print (num)

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [59]:
#bot 1

print ('Hello, what is your name?')

name = input()

print('How old are you?')

age = abs(int(input()))

print('Hello {} you are welcome! {} is just right'.format(name, age))

Hello, what is your name?
chidinma
How old are you?
26
Hello chidinma you are welcome! 26 is just right

In [23]:
#bot 2

print ('on a scale of 1-10, how intelligent are you?')

intelligence = input()
scale = int(intelligence)

if scale >= 0 and scale <=10:
    if scale <= 3:
        print ('wow', scale, 'is very dumb')
    elif scale > 3 and scale <=7:
        print (scale, 'You are doing well and you can do much better')
    else:
        print ('welldone genius')

on a scale of 1-10, how intelligent are you?
11

In [17]:
for i in range(0, 3):
    for j in range(0, 3):
        continue
    print(i+j)

2
3
4

In [18]:
name = 'Bert'
if name[0] == 'B':
    print('B')
elif name[1] == ' ':
    pass
else:
    print('Unknown')

B

#### Matrices as Nested Lists

In [25]:
m = [[1,2,3], [4,5,6]]

In [4]:
print (m [1] [1])

5

In [28]:
for i in range (len(m)):
    for j in range (len (m [i])):
        print (m [i] [j])
        
        
# for row in m:
#     for col in row:
#         print(col)

0
0
0
1
1
1

In [33]:
print(len('chidinma'))  

# for i in range (len(name)):
#     for j in range (len (m [i])):
#         print (i)

8

In [18]:
employees = [['John Mckee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketting'] ,['Sujan Patel', 33, 'HR']]
employees

[['John Mckee', 38, 'Sales'],
 ['Lisa Crawford', 29, 'Marketting'],
 ['Sujan Patel', 33, 'HR']]

In [19]:
for employee in employees:
    print (employee)

['John Mckee', 38, 'Sales']
['Lisa Crawford', 29, 'Marketting']
['Sujan Patel', 33, 'HR']

In [22]:
for employee in employees:
    print ('Name:', employee [0])
    print ('Age:', employee [1])
    print ('Department:', employee [2])
    print ('-' * 20)

Name: John Mckee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketting
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [25]:
employee = employees [1]

print (employee)
print ('Name:', employee)
print ('Age:', employee)
print ('Department:', employee)
print ('-' * 20)

['Lisa Crawford', 29, 'Marketting']
Name: ['Lisa Crawford', 29, 'Marketting']
Age: ['Lisa Crawford', 29, 'Marketting']
Department: ['Lisa Crawford', 29, 'Marketting']
--------------------

#### Addition of matrixes

In [43]:
x = [[1,2,3], [4,5,6], [7,8,9]]
y = [[10,11,12], [13,14,15], [16,17,18]]

print (x)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [44]:
#Initializing a result placeholder

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

In [55]:
#iterate through rows
for i in range(len(x)):
#iterate through columns
    for j in range(len(x)):
        result [i][j] = x[i][j] + y[i][j]
print (result)

[[11, 13, 15], [17, 19, 21], [23, 25, 27]]

#### Subraction of matrices

In [44]:
X = [[10,11,12],[13,14,15],[16,17,18]]
Y = [[1,2,3],[4,5,6],[7,8,9]]
# Initialize a result placeholder
# result = [[0,0,0], 
#         [0,0,0], 
#         [0,0,0]]

# iterate through rows 
for i in range(len(X)):    
# iterate through columns 
    for j in range(len(X[0])): 
        result[i][j] = X[i][j] - Y[i][j]        
print(result)

[[9, 9, 9], [9, 9, 9], [9, 9, 9]]

#### Matrix multiplication

In [56]:
x = [[1,2], [4,5], [3,6]]
y = [[1,2,3,4], [5,6,7,8]]

In [57]:
result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

#iterating by the row of A
for i in range(len(x)):
    #iterating column by row B
    for j in range(len(y[0])):
        #iterating by row of B
        for k in range(len(y)):
            result [i][j] += x[i][k] * y[k][j]

In [58]:
for r in result:
    print(r)

[11, 14, 17, 20]
[29, 38, 47, 56]
[33, 42, 51, 60]

In [10]:
shopping = ['bread', 'milk', 'eggs']
print(shopping[1])

milk

In [11]:
shopping [1] = 'banana'
shopping
#print(shopping [0:2])

['bread', 'banana', 'eggs']

In [12]:
shopping.append('apple')
print(shopping)

['bread', 'banana', 'eggs', 'apple']

In [16]:
shopping = []
shopping.append('bread')
shopping.append('milk')
shopping.append('eggs')
shopping.append('apple')
print (shopping)

['bread', 'milk', 'eggs', 'apple']

In [18]:
shopping.insert(2, 'ham')
print(shopping)

['bread', 'milk', 'ham', 'ham', 'eggs', 'apple']

### Dictionary keys and values

In [ ]:
employee = {
    'name' : 'Jack Nelson',
    'age' : 35,
    'department' : 'Sales'
}

In [60]:
movie = {
    'title':'the godfather',
    'director':'Francis Ford Capoola',
    'year':1972,
    'rating':9.2
}

#### Update the dictionary value

In [61]:
movie['rating'] = (movie['rating'] + 9.3)/2
print(movie['rating'])

9.25

#### Construct a movie dictionary from the scratch and extend it using key-value assignment

In [62]:
movie = {}
movie['title'] = 'the godfather'
movie['director'] = 'Francis Ford Capoola'
movie['year'] = 1972
movie['rating'] = 9.2

In [63]:
movie

{'title': 'the godfather',
 'director': 'Francis Ford Capoola',
 'year': 1972,
 'rating': 9.2}

In [64]:
movie['actors'] = ['Marlon Brandon', 'Al Pacino', 'James Caan']
movie['other details'] = {
    'runtime':175,
    'language':'English'
}

In [65]:
print(movie)

{'title': 'the godfather', 'director': 'Francis Ford Capoola', 'year': 1972, 'rating': 9.2, 'actors': ['Marlon Brandon', 'Al Pacino', 'James Caan'], 'other details': {'runtime': 175, 'language': 'English'}}

#### Activity: Storing Company Employee Table Data Using a List and a Dictionary

In [67]:
employees = [
    {'name':'John Mckee', 'age':38, 'department':'Sales'},
    {'name':'Lisa Crawford', 'age':29, 'department':'Marketting'},
    {'name':'Sujan Patel', 'age':33, 'department':'HR'}
]

print (employees)

[{'name': 'John Mckee', 'age': 38, 'department': 'Sales'}, {'name': 'Lisa Crawford', 'age': 29, 'department': 'Marketting'}, {'name': 'Sujan Patel', 'age': 33, 'department': 'HR'}]

In [70]:
for employee in employees:
    print ('Name:', employee ['name'])
    print ('Age:', employee ['age'])
    print ('Department:', employee ['department'])
    print ('-' * 20)

Name: John Mckee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketting
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [72]:
for employee in employees:
    if employee ['name'] == 'Sujan Patel':
        print ('Name:', employee ['name'])
        print ('Age:', employee ['age'])
        print ('Department:', employee ['department'])
        print ('-' * 20)

Name: Sujan Patel
Age: 33
Department: HR
--------------------

### Zipping and Unzipping Dictionaries using zip()

The zip() method maps a similar index of multiple containers so that they can be used just as a single object. Let's try it out in the following exercise.

In [1]:
items = ['apple', 'orange', 'banana']
quantity = [5,3,2]

Using the zip() function to combine the two lists into a list of tuples

In [2]:
orders = zip(items, quantity)
print (orders)

<zip object at 0x0000017F6F4C1C48>

Turning the zip() object into a list

In [3]:
orders = zip(items, quantity)
print(list(orders))

[('apple', 5), ('orange', 3), ('banana', 2)]

Turning a zip() object intot a tuple

In [4]:
orders = zip(items, quantity)
print (tuple(orders))

(('apple', 5), ('orange', 3), ('banana', 2))

Turning a zip() object to a dictionary

In [5]:
orders = zip(items, quantity)
print (dict(orders))

{'apple': 5, 'orange': 3, 'banana': 2}

#### Accessing a dictionary using Dictionary methods

The goal of this is to print the order values against the item while accessing the dictionary by using dictionary methods:

In [8]:
orders = {'apple':5, 'orange':3, 'banana':2}
print(orders.values())
print(list(orders.values()))

dict_values([5, 3, 2])
[5, 3, 2]

The values method in this code returns an iterable object. 

In order to use the values straight away, we can wrap them in a list directly.

In [10]:
#obtain a list of keys in a dictionary by using the keys() method

print(list(orders.keys()))

['apple', 'orange', 'banana']

As we can't directly iterate a dictionary, we first convert it to a list of tuples using the items() method, then iterate the resulting list and access it. This is mentioned in the following code snippet:

In [11]:
for tuple in list(orders.items()):
    print (tuple)

('apple', 5)
('orange', 3)
('banana', 2)

### Tuples

A tuple object is similar to a list, but it cannot be changed. Tuples are immutable sequences, which means their values cannot be changed after initialization. We use a tuple to represent fixed collections of items

In [12]:
t = ('bread', 'milk', 'eggs')
print(len(t))

3

In [13]:
t.append('apple')

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
print(t + ('apple', 'orange'))
print (t)

('bread', 'milk', 'eggs', 'apple', 'orange')
('bread', 'milk', 'eggs')

In [18]:
t_mixed = 'apple', True, 3
print(t_mixed)

t_shopping = (('apple', 3), ('orange', 2), ('banana', 5))
print(t_shopping)

('apple', True, 3)
(('apple', 3), ('orange', 2), ('banana', 5))

### Sets

Sets are a relatively new addition to the Python collection type. They are unordered collections of unique and immutable objects that support operations mimicking mathematical set theory. As sets do not allow multiple occurrences of the same element, they can be used to effectively prevent duplicate values.

A set is a collection of objects (called members or elements). For instance, we can define Set A as even numbers between 1 to 10, and it will contain {2,4,6,8,10}, and Set B can be odd numbers between 1 to 10, and it will contain {1,3,5,7,9}. In the following exercise, we will get our hands on sets in Python

In [19]:
s1 = set([1,2,3,4,5,6])
print(s1)

s2 = set([1,2,2,3,4,4,5,6,6])
print (s2)

s3 = set([3,4,5,6,6,6,1,1,2])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [20]:
s4 = {'apple', 'orange', 'banana'}
print(s4)

{'banana', 'orange', 'apple'}

Sets are mutable

In [21]:
s4.add('pineapple')
print(s4)

{'pineapple', 'banana', 'orange', 'apple'}

#### Set Operations

A union operation returns a single set that contains all the unique elements in both set A and B; an intersect operation returns a single set that contains unique elements that belong to set A and also belong to set B at the same time.

In [24]:
s5 = {1,2,3,4}
s6 = {3,4,5,6}

In [25]:
#Union
print (s5 | s6)
print (s5.union (s6))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [26]:
#Intersection
print (s5&s6)
print (s5.intersection(s6))

{3, 4}
{3, 4}

In [27]:
#Difference
print (s5 - s6)
print (s5.difference(s6))

{1, 2}
{1, 2}

In [28]:
#issubset
print (s5 <= s6)
print (s5.issubset(s6))

False
False

In [31]:
s7 = {1,2,3}
s8 = {1,2,3,4,5}
print (s7 <= s8)
print (s7.issubset (s8))

True
True

In [32]:
#formal subset
print (s7 < s8)
s9 = {1,2,3}
s10 = {1,2,3}
print (s9 < s10)
print (s9 < s9)

True
False
False

In [33]:
#issuperset
print (s8 >= s7)
print (s8.issuperset(s7))
print (s8 > s7)
print (s8 > s8)

True
True
True
False

In [34]:
nested_list = [ [1, 2], [3, 4] ]

outer_range = range(len(nested_list))

for i in outer_range:

    inner_range = range(len(nested_list[i]))

    for j in inner_range:

        print(nested_list[j] [i])

1
3
2
4

In [23]:
from my_module import compute

In [26]:
compute ([5,7,11])

[120, 5040, 39916800]

In [12]:
#Activity 8

from current_time import time

print(time)

ImportError: cannot import name 'time' from 'current_time' (C:\Users\chidi\Personal_Tutorials\current_time.py)

### Algorithms

Algorithms are often initially defined in pseudocode, which is a way of writing down the steps a computer program will make without coding in any specific language.

In [15]:
# implementing the pseudocode to find the maximum from a list of positive numbers

l = [4,2,7,3]

maximum = 0

In [17]:
for number in l:
    if number > maximum:
        maximum = number
        
print(maximum)

7

### Time Complexity

The relationship between the size of the problem and the steps taken is called the time complexity of an algorithm.

#### Sorting Algorithms

The output of any sorting algorithm must satisfy two conditions:

- It must be in non-decreasing order. That is, each element must be equal to or greater than the element that came before it.
- It must be a permutation of the input. That is, the input elements must simply be rearranged and not altered.

##### Bubble Sort in Python

In [18]:
l = [2,4,5,8,1]

In [19]:
#create an indicator that will tell you when to stop looping through the array

still_swapping = True

In [24]:
#loop through the numbers and compare it to the maximum

while still_swapping:
    still_swapping = False
    for i in range (len(l) - 1):
        if l[i] > l[i+1]:
            l[i], l[i+1] = l[i+1], l[i]
            still_swapping = True
            
l

[1, 2, 4, 5, 8]

##### Linear Search in Python

In [29]:
l = [4,5,2,1,7,5,8]

search_for = 5

In [30]:
#create a result If the search is unsuccessful, this value will remain -1 after the algorithm is executed

result = -1

In [31]:
for i in range (len(l)):
    if search_for == l[i]:
        result = i
        break
        
print(result)

1

##### Binary Search in Python

In [25]:
l = [2,4,5,6,7,9,11,14]

In [26]:
#specify the value to search for 

search_for = 7

In [28]:
#create two variables that will specify the start and end locations of the sub list you are interested in

slice_start = 0

slice_end = len(l) -1

In [15]:
#add a variable to indicate if search was successful
found = False

In [16]:
"""find the midpoint of the list and check if the value is greater than or less than the search term.
Depending on the outcome of the comparison either finish the search or update the locations for the start/end of the sublist"""

while slice_start <= slice_end and not found:
    location = (slice_start + slice_end) // 2
    if l[location] == search_for:
        found = True
    else:
        if search_for < l[location]:
            slice_end = location - 1
        else:
            slice_start = location + 1

In [17]:
print (found)
print(location)

True
4

#### Basic Functions

A function is a reusable piece of code that is only run when it is called. Functions can have inputs, and they usually return an output.

In [18]:
def add_up(x,y):
    return (x + y)
add_up (1,3)

4

##### Defining and calling the function in a shell

In [19]:
def get_second_element(my_list):
    if len(my_list)>1:
        return my_list[1]
    else:
        return 'list was too small'

In [20]:
get_second_element ([1,2,3])

2

In [21]:
get_second_element([1])

'list was too small'

##### Positional Arguments

In [31]:
def add_up(x, y):
    return x + y

In [32]:
from datetime import datetime
def get_the_time():
    return datetime.now()
print(get_the_time())

2020-05-15 20:17:12.713145

In [34]:
def add_suffix(suffix = '.com'):
    return 'google' + suffix
add_suffix()

'google.com'

In [35]:
add_suffix('.co.uk')

'google.co.uk'

##### Positional and Keyword Arguments

In [36]:
def divide (a,b):
    return a/b

divide (4,2)

2.0

Another way of passing arguments while calling the function is using Keyword Arguments.

In [38]:
divide (a=4, b=2)

2.0

In [39]:
divide(4, b=2)

2.0

In [40]:
def convert_usd_to_aud(amount, rate=0.75): #'amount' - positional argument, 'rate' - keyword argument
    return amount / rate

In [41]:
convert_usd_to_aud (100)

133.33333333333334

In [42]:
convert_usd_to_aud(100, rate=0.78)

128.2051282051282

Note: use positional arguments for required inputs that must be provided each time the function is called, and keyword arguments for optional inputs.

### *args and **kwargs Arguments

You will sometimes see functions that accept a mysterious-looking argument: **kwargs and *args . 

kwargs and args allow you to pass any number of arguments. 
They are specifically useful when you don't know how many arguments will be passed to the function. 

*args is used for sending the non-keyworded argument.

**kwargs allows the function to accept any number of keyword arguments when it's called, and these can be accessed in a dictionary called kwargs. 
Typically, this is used when you want to pass arguments through to another function

In [44]:
def convert_usd_to_aud (amount, rate = 0.75):
    return amount/rate

In [46]:
def convert_and_sum_list(usd_list, rate = 0.75):
    total = 0
    for amount in usd_list:
        total += convert_usd_to_aud (amount, rate = rate)
    return (total)
print(convert_and_sum_list([1,3]))

5.333333333333333

In [47]:
def convert_and_sum_list_kwargs(usd_list, **kwargs):
    total = 0
    for amount in usd_list:
        total += convert_usd_to_aud(amount, **kwargs)
    return total
print(convert_and_sum_list_kwargs([1, 3], rate=0.8))

5.0

##### Activity: Formatting Customer names

In [51]:
from customer import format_customer

format_customer ('Chidinma', 'Ukaegbu')

'Chidinma Ukaegbu'

In [52]:
format_customer ('Chidinma', 'Ukaegbu', location = 'Nigeria')

'Chidinma Ukaegbu (Nigeria)'

#### Iterative Functions

Loops cans also be placed within functions

In [2]:
def sum_first_n(n):
    result = 0
    for i in range (n):
        result += i+1
    return result

sum_first_n(100)

5050

#### Exiting a function during a 'for loop'

In [17]:
def is_prime(x):
    for i in range (2,x):
        if (x % i) == 0:
            return False
        return True

In [14]:
is_prime (7)

True

In [15]:
is_prime(100)

False

#### Activity: The Fibonacci Function with an Iteration

In [39]:
from fibonacci import fibonacci_iterative
fibonacci_iterative(10)

17

In [ ]:
def fibonacci_iterative(n):
    previous = 0
    current = 1
    
    for i in range(n - 1):
        current_old = current
        current = previous + current
        previous = current_old
    return current

In [27]:
from fibonacci import fibonacci_iterative
fibonacci_iterative(3)

3

### Recursive Functions

When a function calls itself, it is known as a Recursive Function. They sometimes allow you to write more elegant and terse functions than can be achieved with a loop.

To avoid being stuck in an infinite loop, a recursive function will typically have a Terminating Case, such as a point where the chain of recursion is broken.

In [31]:
def print_the_next_number(start):
        print(start + 1)
        if start >= 7:
            return "I'm bored"
        return print_the_next_number(start + 1)
print_the_next_number(5)

6
7
8

"I'm bored"

#### Recursive Countdown

In this exercise, you will create a countdown function that recursively counts down from integer n until we hit 0

In [34]:
def countdown (n):
    if n == 0:
        print ('lift off!')
    else:
        print (n)
        return countdown (n-1)

In [35]:
countdown (5)

5
4
3
2
1
lift off!

#### Factorials with iteration and recursion

Recall that: the factorial of 5 is calculated as 5! = 5 * 4 * 3 * 2 * 1 = 120

In [36]:
def factorial_iterative (n):
    result = 1
    for i in range (n):
        result *= i+1
    return result

factorial_iterative (5)

120

In [37]:
def factorial_recursive (n):
    if n == 1:
        return 1
    else:
        return n * factorial_recursive (n-1)
    
factorial_recursive (5)

120

#### Activity: The Fibonacci Function with Recursion

In [42]:
from fibonacci import fibonacci_recursive
fibonacci_recursive(10)

ImportError: cannot import name 'fibonacci_recursive' from 'fibonacci' (C:\Users\chidi\Personal_Tutorials\fibonacci.py)